.form-login {
  padding-top: 10rem;
  padding-left: 6rem;



  .form__input-phone {
    display: block;

    input {
      border: none;
      border-bottom: 1px solid #000000;
      background-color: #eee;

      &:focus {
        outline: none;
      }
    }
  }

  .form__input-code {
    display: block;

    input {
      border: none;
      border-bottom: 1px solid #000000;
      background-color: #eee;

      &:focus {
        outline: none;
      }
    }
  }

  .github__button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
  }

}