.form--login {
  padding-top: 10rem;
  padding-left: 6rem;



  .form__label--phone {
    display: block;

    input {
      border: none;
      border-bottom: 1px solid #000000;
      background-color: #eee;

      &:focus {
        outline: none;
      }
    }
  }

  .form__label--code {
    display: block;

    input {
      border: none;
      border-bottom: 1px solid #000000;
      background-color: #eee;

      &:focus {
        outline: none;
      }
    }
  }

  .button--github {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
  }

  .button--wechat {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;

    >img {
      width: 32px;
    }
  }

}