.community-form {
  height: 100%;

  label {
    width:25%;
    clear:left;
    text-align:right;
    padding-right:10px;
    margin-bottom: 10px;
  }

  input, label {
    float:left;
    margin-bottom: 10px;
  }

  .community-form__submit  {
    display: block;
    clear:left;
    margin-left: 45%;
    background-color: #4287f5;
  }
}