.community-page {
  display: flex;
  flex-direction: row;
  height: 100%;

  >.community-page__communities {
    display: flex;
    flex-direction: column;

    .community-page__create-community__btn {
      background-color: #5BB3AA;
    }

    .communitylist {
      flex-grow: 1;
      color:white;
      background-color:#ceccea;
    }
 }

 >.community-page_channels {
   display: flex;
   flex-direction: column;
   background-color: #5BB3AA;

   .channellist {
    flex-grow: 1;
   }
 }

 >.community-page__right {
    display: flex;
    flex-direction: column;

   > .community-page__right--header {
     display: flex;
     flex-direction: row;
    }

    > .community-page__right--content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    > .chatboard {
      background-color:yellow;
      flex-grow: 1;
      height: 100%;
    }
 
    > .userlist {
      width: 20vw;
      background-color:green;
    }
   }
  }
}

