.community-page {
  display: flex;
  flex-direction: row;
  height: 100%;

  >.community-page__communities {
    display: flex;
    flex-direction: column;
    background-color: #007bff40;
 }

 >.community-page__right {
    display: flex;
    flex-direction: column;

   > .community-page__right--header {
     display: flex;
     flex-direction: row;
    }

    > .community-page__right--content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    > .chatboard {
      background-color:yellow;
      flex-grow: 1;
      height: 100%;
    }
 
    > .userlist {
      width: 20vw;
      background-color:green;
    }
   }
  }
}

